#fondoRegister {
  background-color: #080F53;
  border-radius: 10px;
}

h1{
  color: white;
}

h4{
  color: white;
}

label{
  color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#btRegister{
  text-align: center;
  background-color: #6A9DFF;
  color: #FFFFFF;
}


