#fondoInicioSesion {
    background-color: #080F53;
    border-radius: 10px;
}

h1{
    color: white;
}

label{
    color: white;
}

a{
    color: #6A9DFF;
}

a:hover{
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#botonEntrar{
    background-color: #6A9DFF;
    color: #FFFFFF;
}

#botonesWhite{
    color: #6A9DFF;
    width: 30%;
    height: 140%;
}