<footer class="container-fluid">
  <div>
    <div class="row">
      <div class="col-6 d-flex justify-content-center">
        <div class="letras">
          <h2>Contáctanos</h2>
          <i class="bi bi-telephone-fill" style="margin-right: 10px;"></i>+34 954 534 643
          <br>
          <i class="bi bi-envelope" style="margin-right: 10px;"></i>info@moviedreams.com
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="letras">
          <h2>Ubicación</h2>
          IES Alixar
          <br>
          Castilleja de la Cuesta
          <br>
          Sevilla
          <br>
          <i class="bi bi-geo-alt-fill" style="margin-right: 10px;"></i>Google Maps
        </div>
      </div>
    </div>
    <hr style="color: white;">
    <div class="row">
      <div class="col"><a href="https://www.facebook.com/" target="_blank"><img src="assets\img\facebook.png" style="margin-top: 15px;" alt="Logo Facebook"></a></div>
      <div class="col"><a href="https://www.youtube.com/" target="_blank"><img src="assets\img\youtube.png" style="margin-top: 15px;" alt="Logo Youtube"></a></div>
      <div class="col"><img src="assets\img\logo movieDream.png" alt="Logo Movie Dream" style="margin-top: 15px;"></div>
      <div class="col"><a href="https://www.twitter.com/" target="_blank"><img src="assets\img\twitter.png" style="margin-top: 15px;" alt="Logo Twitter"></a></div>
      <div class="col"><a href="https://www.instagram.com/" target="_blank"><img src="assets\img\instagram.png" style="width: 70px; height: 70px;" alt="Logo Instagram"></a></div>
    </div>
  </div>
</footer>
